
*{
    margin: 0;
    padding: 0;
}
.body{
    background: #034078;
    height: 60vh;
}

html {
    font-size: 16px;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif, 'Times New Roman', Times, serif;
    line-height: 1.5;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
  }
  
  .logo {
    display: flex;
  }
  
  .logo img {
    max-width: 100px;
    height: auto;
  }
  @font-face {
    font-family: Zodiac;
    src: url(Zodiak-Thin.otf);
  }
  .logo .name {
    font-family: Zodiac,Georgia, Courier, monospace;
    font-weight: bold;
    font-size: 0.5rem;
    margin-left: 0.5rem;
    padding-top: 70px;
    color: white;
    font-weight: bolder;
  }
  .navbar{
    display: flex;
    flex-direction: column;
   }
   .navbar .menu-icon{
     padding-top: 2%;
     font-size: 21px;
     color: #fdc500;
   }
   .navbar .menu-icon:hover{
     color: #f8f9fa;
   }
   .navbar .user a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:#fdc500;
    margin-left: 90%!important;
    margin-top: 0;
  }
  .navbar .user a:hover{
    color: #f8f9fa;
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
  }
  @font-face {
    font-family:chillax ;
    src: url(Chillax-Light.otf);
  }
  
  .navbar li {
    margin-top: 15px;
    padding: 0.5rem;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-family: chillax;
  }
  
  li a {
    text-decoration: none;
    color: #f8f9fa;
    padding: 10px 5px;
  }
  
  li a:hover {
    text-decoration: none;
    border-bottom: 2px solid #fdc500;
  }
  .navbar ul.menu.active {
    display: block; /* or any other desired display value */
  }
  
  .navbar .menu-icon{
    display: none;
  }
  @font-face {
    font-family: sand;
    src: url(Quicksand-SemiBold.otf);
  }
  
  .content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    color:#fdc500;
    font-family: sand;
  }
  .Contact-us{
    font-family: sand;
  }
  .Contact-us .contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10% 10%;
  }
  .contact .column-1 .box{
    display: flex;
  }
  .box .text{
    padding-left: 5%;
  }
  .box .text p{
    padding: 5% 0%;
    color:#034078;
  }
  .column-2{
    display: flex;
    flex-direction: column;
    background:whitesmoke;
    padding: 10% 5%;
    width: 45%;
  }
  .column-2 .send-message{
    color:#034078;
  }
  .column-2 .form{
    display: flex;
    flex-direction: column;
    padding-top: 10%;
  }
   .column-2 .form input[type="text"],
  .column-2 .form textarea {
    margin-bottom: 25px;
    
  }
  .column-2 .form input[type="text"]{
     height: 30px;
  }
   
  .column-2 .btn{
      padding-top: 50px;
  }
  .column-2 .btn button{
    color: white;
    width: 150px;
    height: 40px;
    font-size: 20px;
    background:#034078;
    border: none;
   
  }
   .column-2 .btn button:hover{
    background:#fdc500;
    color:#034078;
   }
.column-2 input[type="text"]::placeholder,
.column-2 textarea::placeholder {
  color:#034078;
}
.footerr {
  background-color:  #034078;
  padding: 20px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 30vh;
  margin-top: 20%;
  border-radius: 0.5rem;
}

.footer {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-title {
  display: flex;
  align-items: center;
}

.footer-logo {
  margin-right: 10px;
}
.footer-logo a img{
  height: 150px;
  height: 150px;
}
.school-name {
  font-size: 20px;
  font-family: Zodiac;
}

.footer-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-nav li {
  display: inline-block;
  margin-right: 10px;
}

.footer-nav a {
  color: #ffffff;
  text-decoration: none;
  font-family: sand;
}

.copy-rights {
  text-align: center;
  font-size: 14px;
  margin-top: auto;
}
@font-face {
  font-family: kalam;
  src: url(Kalam-Light.otf);
}
.moto {
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
  font-family: kalam;
  color: #fdc500;
}
@media (max-width: 768px) {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    margin:0 !important;
    padding:0 !important;
    display: flex;
    flex-direction: column;
  }
  .logo a img{
      height: 100px;

  }
  .logo .name{
    font-size: 10px !important;

  }
  .navbar{
    display: flex !important;
    flex-direction: row;
    align-items: center !important;
    justify-content:space-between !important;
  }
  .navbar .menu-icon{
    display: flex;
    padding-left: 50px;
    font-size: 40px!important;
  }
  .navbar .user a{
    margin: 0;
    padding: 0;
    font-size: 20px;
  }

  .navbar ul {
    flex-direction: column;
    margin-top: 1rem;
  }

  .navbar li {
    padding: 0.5rem 0;
    font-size: 1.3rem;
    text-align: center;
  }

  .logo .name {
    font-size: 1.2rem;
    text-align: center;
    margin-left: 0;
    padding-top: 0;
  }
  .navbar .menu {
   display: none;
  }
  .content h2{
    margin-top: 20%;
  }
   .body{
        height: auto;
      }
 
 .Contact-us .contact{
  flex-direction: column;
   
 }
 .Contact-us .contact .column-2{
  width: 100%;
 }
 .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-title {
  text-align: center;
}
.school-name {
  margin-top: 10px;
  text-align: center;
}
.footer-nav {
  text-align: center;
}
.copy-rights {
  text-align: center;
}
.moto{
  font-size: 16px;
}
}

